body {
  font-family: "Montserrat" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold" !important;
  font-weight: bold !important;
}

p {
  color: #8f8f8f;
}

.title-image {
  width: 100% !important;
}

.title-details {
  position: absolute;
  transform: translateY(-100%);
  padding: 5vh 5vw;
}

.big-heading {
  font-family: "Montserrat-Black" !important;
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  color: snow;
}

.rotate{
  transform: rotate(-45deg) !important;
}

.motive,
.responsive {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10vh 10vw;
}

.motive p,
.responsive p {
  padding-top: 5vh;
}

.plan {
  max-width: 100%;
}

.dark-section {
  background-color: black;
  display: flex;
  width: 100% !important;
  justify-content: center;
  align-items: center;
}

.technologies {
  padding: 10vh 10vw;
}

.technologies h2 {
  padding-bottom: 5vh;
  text-align: center;
}

.devices {
  width: 100%;
}

img {
  max-width: 100%;
}

@media(max-width: 600px) {
  span{
    display: none;
  }
  button{
    font-size: 12px !important;
  }

  .title-details{
    padding-bottom: 5px;
  }
  
  .motive,
  .responsive {
      display: flex ;
      flex-direction: column;
    padding: 10vh 10vw;
  }

  .big-heading {
    font-size: 2rem !important;
    line-height: 1 !important;
  }
}
